<!DOCTYPE html>
<html>
<head>
    <title>Other Tools</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>
<body>
    <div id="page-background">
        <nav>
            <a href="/">Home</a>
            <a href="/AboutMe">About Me</a>
            <a href="/OtherTools">Other Tools</a>
        </nav>
        <div id="tools-container">
            <div class="tools-column">
                <h2>Brokers</h2>
            </div>
            <div class="tools-column">
                <h2>Other Tools</h2>
            </div>
        </div>
    </div>
</body>
</html>
